@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');

html {
    font-family: "42dot Sans", serif;
    font-size: 16px;
    color: #be0b0b;
}

html, body {
    height: 100%;
}

/* 상단 */
header {
    max-width: 425px;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 0 8px 0;
    border-bottom: 4px solid #be0b0b;
    background-color: white;
    z-index: 999;
}

header h1, header p {
    padding: 0 16px;
}

header h1 {
    font-family: "Noto Serif JP";
    font-size: 56px;
    font-weight: 700;
}

header p {
    margin-top: 8px;
}

header span {
    margin: 0 2px;
    font-weight: 100;
}


/* 본문 */
main {
    position: relative;
    top: 164px;
    max-width: 425px;
    margin: 0 auto;
    padding: 0 0 32px 0;
    background-color: white;
    overflow: hidden;
}

.plan-list {
    overflow: hidden;
}

.plan-day {
    padding: 8px 16px 8px 16px;
    text-align: right;
    text-decoration: underline;
    border-bottom: 1px solid #be0b0b;
}

.list-item {
    padding: 8px 16px 16px 16px;
    display: flex;
    border-bottom: 1px solid #be0b0b;
}

.item-num {
    margin-right: 16px;
    align-self: flex-start;
    font-family: "Noto Serif JP";
    font-size: 64px;
    font-weight: 600;
}

.item-info {
    align-self: center;
}

.info-link {
    color: unset;
    text-decoration: none;
}

.info-link:hover {
    text-decoration: underline;
}

.info-name {
    max-width: 340px;
    margin-bottom: 4px;
}

.info-name p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-name p:first-child {
    font-family: "Noto Serif JP";
    font-size: 24px;
    font-weight: 500;
}

.info-name p:nth-child(2) {
    font-weight: 100;
}

.info-key {
    margin-top: 16px;
    display: flex;
}

.info-key p {
    margin-right: 4px;
    padding: 2px 4px;
    font-size: 14px;
    background-color: #e9dada;
}

.comm-btn {
    padding: 4px 16px;
    background-color: #e9dada;
    border-bottom: 1px solid #be0b0b;
    cursor: pointer;
}

.comm-btn span {
    font-size: 14px;
    color: #be0b0b;
}

.comm-con {
    padding: 8px 16px;
    display: none;
    font-size: 14px;
    background-color: #e9dada;
}

ul {
    margin: 0;
    padding: 0 16px;
}

.con-box > li:not(:last-child) {
    margin-bottom: 4px;
}

.con-sub > li {
    margin: 2px 0;
}

@media(max-width: 425px) {
    .info-name {
        max-width: 80vw;
    }
}


@media(max-width: 375px) {
    .info-name {
        max-width: 77.3vw;
    }

    .info-name p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 321px) {
    .info-name {
        max-width: 73.4vw;
    }
}