@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');

html {
    font-family: "42dot Sans", serif;
    font-size: 16px;
    color: #be0b0b;
}

/* 상단 */
header {
    max-width: 425px;
    margin: 0 auto;
    padding: 48px 0 16px 0;
    border-bottom: 4px solid #be0b0b;
}

header h1, header p {
    padding: 0 16px;
}

header h1 {
    font-family: "Noto Serif JP";
    font-size: 56px;
    font-weight: 700;
}

header p {
    margin-top: 8px;
}

header span {
    margin: 0 2px;
    font-weight: 100;
}


/* 본문 */
main {
    max-width: 425px;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.plan-day {
    padding: 0 16px 16px 16px;
    text-align: right;
    text-decoration: underline;
    border-bottom: 1px solid #be0b0b;
}

.list-item {
    padding: 8px 16px;
    display: flex;
    border-bottom: 1px solid #be0b0b;
}

.item-num {
    margin-right: 16px;
    align-self: flex-start;
    font-family: "Noto Serif JP";
    font-size: 64px;
    font-weight: 600;
}

.item-info {
    align-self: center;
}

.info-link {
    color: unset;
    text-decoration: none;
}

.info-link:hover {
    text-decoration: underline;
}

.info-name {
    margin-bottom: 4px;
}

.info-name p:first-child {
    font-family: "Noto Serif JP";
    font-size: 24px;
    font-weight: 500;
}

.info-name p:nth-child(2) {
    font-weight: 100;
}

.info-line {
    color: #e9dada;
    font-weight: 900;
}

.info-key {
    margin-top: 16px;
    display: flex;
}

.info-key p {
    margin-right: 4px;
    padding: 2px 4px;
    font-size: 14px;
    background-color: #e9dada;
}